/* purple */

section section:nth-of-type(4) div {
    background-color: var(--color-info);
    padding: 2.5em 5em 2.5em 5em;
}

section section:nth-of-type(4) div h2 {
    color: white;
}

section section:nth-of-type(4) div p {
    color: white;
}

section section:nth-of-type(4) div ul {
    padding: 0;
}

section section:nth-of-type(4) div li {
    text-decoration: none;
    list-style-type: none;

}

section section:nth-of-type(4) div a {
    color: white;

}

section section:nth-of-type(4) div img {
    width: 50%;
    border-radius: 2px;
    padding-bottom: 1em;
}

.sideabout {
    writing-mode: vertical-lr;
    position: absolute;
    top: 4em;
    right: -0.5em;
}

