/* purple */

section section:nth-of-type(4) div {
    background-color: var(--color-info);
    padding: 2.5em 5em 2.5em 5em;
}

section section:nth-of-type(4) div h2 {
    color: white;
}

section section:nth-of-type(4) div p {
    color: white;
}


