:root {
    color-scheme: light dark;
    --color-background: #000000;
    --color-background-nav:#000000;
    --color-buttonspan: #ffffff;
    --color-logo: #ffffff;
    --color-hellothere: #042A2B;
    --color-photography: #576050;
    --color-mywork: #4A314D;
    --color-aboutme: #260F26;
    --color-tekst: #000000;
    --color-nav-tekst: #ffffff;
    --color-hover: #ffffff; 
    --focus-nav-a: #8b8a8a; 
}

body {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: Arial, sans-serif;
    background-color: var(--color-background);
    overflow-x: hidden;
}

::selection {
    color: black;
    background-color: chartreuse;;
}

header {
    position: sticky;
    overflow: hidden;
}

body > nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: var(--color-background-nav);
    transition: .6s;
    right: -18.6em;
    top: -12.5em;

    height: fit-content; 
    width: fit-content;  
}

body > nav ul {
    padding: 1em;
}

body > nav a {
    text-decoration: none;
    color: var(--color-nav-tekst);

    font-family: "Syne", sans-serif;
    font-size: 2.5em;
    font-weight: 610;
    text-transform: uppercase;
}


nav:has(.toonMenu) {
    height: fit-content;
}

body > nav ul li:nth-of-type(1) a,
body > nav ul li:nth-of-type(2) a, 
body > nav ul li:nth-of-type(3) a  {
    padding-bottom: .5em;
    padding-right: 1em;
}

body > nav ul li:nth-of-type(4) a {
    padding-right: 1em;
}

.underline {
    text-decoration: underline;
    text-decoration-thickness: .15em;
    text-decoration-color: inherit;
    text-underline-offset: .2em;
}

body > nav ul li:nth-of-type(1) a:hover {
    color: var(--color-hellothere);

}

body > nav ul li:nth-of-type(2) a:hover {
    color: var(--color-photography);
}

body > nav ul li:nth-of-type(3) a:hover {
    color: var(--color-aboutme);
}

body > nav ul li:nth-of-type(4) a:hover {
    color: var(--color-mywork);
}


body > nav button {
    padding: 1em;
    order: 1;
    border: none;
    appearance:none;
    height: 6.5em;
    background-color: var(--color-background-nav);
    cursor: pointer;
}

body > nav ul:not(section nav ul) {
    background-color: var(--color-background-nav)
}

body > nav ul:not(section nav ul) li {
    display: flex;
    align-items: center;
    justify-content: center;
}

body > nav button span {
	display:block;
	width: 2.1em;
	height: .35em;
	background-color: var(--color-buttonspan);
	grid-row-start: 1;
	grid-column-start: 1;
}

body > nav button span:nth-child(1) {
	translate: 0 -.35em -.5em;
    transition: .3s;
    transition-delay: .3s;
}
  
body > nav button span:nth-child(2) {
	translate: none;
    transition: .3s;
    transition-delay: .3s;
}
  
body > nav button span:nth-child(3) {
	translate: 0 .35em .5em;
    transition: .3s;
    transition-delay: .3s;
}


body > nav.toonMenu {
    background-color: var(--color-background-nav);
    transition: .6s;
    right: 0em;
    top: 0em;
    z-index: 10000000;
    overflow-x: none;
}

body > nav.toonMenu button {
    padding-top: 3.5em;
    transition: .3s;
}

body > nav.toonMenu span:nth-child(1) {
	translate:0 0;
	rotate: 45deg;
    transition: .3s;
    transition-delay: .3s;
}
  
body > nav.toonMenu span:nth-child(2) {
	scale: 0;
    transition: .3s;
    transition-delay: .3s;
}

body > nav.toonMenu span:nth-child(3) {
	translate:0 -.7em;
	rotate: -45deg;
    transition: .3s;
    transition-delay: .3s;
}

section section:not(div section) {
    position: fixed;
    top:0;
    bottom:0;
    pointer-events: none;
    overflow:hidden;
}

section section div {
    pointer-events: all;
    padding: 1em;
}

section section:nth-of-type(1):not(div section) {
    z-index: 5;
    left:2.1em;
    padding-top:8.5em;
    z-index: 4;
    width: calc(100% - 2.5em* 5);
    padding-bottom: 7.5em;
    margin-right: 2em;
    cursor: default;
}

section section:nth-of-type(2){
    z-index: 2;
    right: 7.5em;
    width: calc(100% - 2.5em* 5);
    max-width: 52.5em;
    padding-top: 4em;
    padding-bottom: 2.5em;
    cursor: default;
}

section section:nth-of-type(3) {
    z-index: 3;
    right: 6.5em;
    width: calc(100% - 2.5em* 4);
    max-width: 52.5em;
    padding-top: 13.125em;
    padding-bottom: 16.25em;
    cursor: default;
}


section section:nth-of-type(4) {
    z-index: 1;
    right: 4.25em;
    width: calc(100% - 1.875em* 4);
    max-width: 47.5em;
    padding-top: 7.25em;
    padding-bottom: 5em;
    cursor: default;
}

section section.active {
    overflow-y: auto;
    z-index: 100;
}

h1 {
    font-family: "Syne", sans-serif;
    font-size: 3em;
    letter-spacing: 1px;
    color: var(--color-logo);
    margin-left: 0.4em;
    margin-top: 0.7em;
    font-weight: 710;
}

h2 {
    font-family: "Syne", sans-serif;
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 2.188em;
    font-weight: 620;
    text-transform: uppercase;
}


h3 {
    font-size: 2em;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    width: 90%;
    margin-top: 0;
    color: WHITE;
}

a {
    color: inherit;
    font-size: 1.2em;

}
main li {
    font-family: "Lato", sans-serif;
}
h3 {
    color: white;
}

a:focus {
    outline: 2px solid var(--color-hover);
    background-color: var(--color-background-nav);
    color: var(--color-nav-tekst);
}


button:focus {
    outline: 2px solid var(--color-hover);
    background-color: var(--color-background-nav);
    color: var(    --color-nav-tekst); 
}

nav a:focus {
    outline: 2px solid var(--color-hover);
    color: var(--color-hover);
    background-color:var(--focus-nav-a) ;
}


main a {
    color: white;
    margin-bottom: 1em;
}

p, main a {
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
}

main a:hover {
    color: chartreuse;
}

.links {
    padding-top: 0;
}

@media (min-width: 90em) {
    section section:nth-of-type(1):not(div section) {
        width: calc(100% - 2.5em * 5);
        width: 77.5em;
        left: calc(50% - 90em / 2 + 2.5em);
    }

    section section:nth-of-type(2) {
        left: calc(50% - 90em / 2 + 2.5em * 12);
    }

    section section:nth-of-type(3) {
        left: calc(50% - 90em / 2 + 31.25em);
    }

    section section:nth-of-type(4) {
        left: calc(50% - 90em / 2 + 2.5em * 15.25);
    }
}


@media (max-width: 80em) {
    section section:nth-of-type(1):not(div section) {
        padding-top: 10em;
    }

    section section:nth-of-type(2):not(div section) {
        padding-top: 6.25em;
    }

    section section:nth-of-type(3) {
        padding-top: 15.625em;
    }

    section section:nth-of-type(4) {
        padding-top: 9em;
    }

    .sideabout {
        top: 5em;
    }

    .sidework {
        top: 7em;
    }


}

@media (max-width: 47.9em) {
    body {
        position: relative;
        overflow-x: hidden;
    }
    header {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 0; 
        overflow-x: hidden;

    }
   
    body > nav a {
        font-size: 2.2em;
    }

    body > nav {
        right: -16.8em;
        top: -11em;
    }

    h1 {
        font-size: 1.9em;
    }

    p {
        font-size: 1.1em;
    }
    h2 {
        font-size: 1.5em;
    }
    section section:nth-of-type(1):not(div section) {
        left: 0;
        display: block;
        width: calc(100% - 2.5em / 2);
    }

    section section:nth-of-type(2) {
        left: 0;
        display: block;
        width: calc(100% - 2.5em / 2);
    }
    section section:nth-of-type(2) div {
        background-color: var(--color-photography);
        padding: 1em 1em 1em 1em; 
    }

    section section:nth-of-type(3) {
        left: 0;
        display: block;
        width: calc(100% - 2.5em / 2);
    }
    section section:nth-of-type(3) div {
        background-color: var(--color-mywork);
        padding: 1em 1em 1em 1em;
    }


    section section:nth-of-type(3) div div button {
        top: 283.5em;
        left: 39%;
    }
    
    section section:nth-of-type(3) div div button.smallButton {
        width: 5em;
        top: 347em;
        left: 9%;
        transition: .3s;
    }

    section section:nth-of-type(3) div img:nth-of-type(1) {
        width: 90%;
    }
    
    section section:nth-of-type(4) {
        left: 0;
        display: block;
        width: calc(100% - 2.5em / 2);
    }


    section section:nth-of-type(1) div:not(.gallery) {
        padding: 1.5em;
    }

    section section:nth-of-type(2) div:not(.flex, .gallery) {
        padding: 1.5em;
    }


section section:nth-of-type(4) div {
    padding: 1em;
    padding-top: 3em;

}

    .sideabout {
        top: 5.6em;
        writing-mode: horizontal-tb;
        right: 8em;


    }

    .sidework {
        writing-mode: horizontal-tb;
        position: absolute;
        top: 10em;
        right: 8em;
    }

}

